@import "varaibles";

.card {
  flex: 1 1 100%;
  background: #FFFFFF;
  box-shadow: 0 2.84946px 28.4946px rgba(0, 0, 0, 0.25);
  border-radius: 35.6183px;

  //width: max-content;
  width: 100%;
  max-width:  485px;
  padding: 27px 45px 40px 37px;

  display: flex;
  flex-direction: column;
  gap: 5px 0;
  //align-items: flex-end;

  color: $secondary-color;

  &.sm {
    max-width: 250px;
    flex-direction: column;
    gap: 30px 0;

    @media all and (max-width: 425px) {
      gap: 5px 0;
    }

    .avatar {
      justify-content: center;

      h2 {
        margin-top: 12px;

        font-size: 17.7555px;
        line-height: 22px;

        @media all and (max-width: 425px) {
          margin-top: 5px;
        }
      }
    }

    .description {
      font-size: 18px;
      line-height: 22px;
    }
  }
}

.avatar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 28px;

  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 20.392px;
  line-height: 24.86px;

  @media all and (max-width: 1440px) {
    justify-content: center;
    text-align: center;
  }

  img {
    border-radius: 100%;
    overflow: hidden;
  }

  h2 {
    font-weight: 600;
    font-style: normal;
    font-size: 20.392px;
    line-height: 24.86px;
  }

  p {
    font-weight: 400;
    font-size: 20px;
    font-style: normal;
    line-height: 25px;
    letter-spacing: 0em;

  }
}

.wrapper {
  display: flex;
  justify-content: flex-end;

  @media all and (max-width: 1440px) {
    margin-top: 1rem;
  }
}

.description {
  max-width: 310px;
  text-align: center;

  font-family: "Montserrat", sans-serif;
  font-size: 19px;
  font-style: italic;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0;
  text-align: center;

  color: $secondary-color;

  @media all and (max-width: 425px) {
    font-size: 16px;
    max-width: 100%;
  }
}
